<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Graph application</title>
        {% load static %}
        <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
        <link rel="stylesheet" href="{% static 'Design.css' %}"/>

    </head>
    <body>
        <div class="page">
            <div class="header">
                <div class="linkDiv">
                    <p class="tittle">Social Media</p>
                </div>
                <div class="linkDiv">
                    <a href="{% url 'complex_visualization' %}"  id="complex" class="viewBtn">Complex visualization</a>
                </div>
                <div class="linkDiv">
                    <a href="{% url 'simplex_visualization' %}"  id="simplex" class="viewBtn">Simplex visualization</a>
                </div>
            </div>

            <div style="margin-top: 2%;">
                <div class="searchDiv">
                    <form method="post" action="{% url 'search_data' %}">
                        {% csrf_token %}
                        <input type="text" name="search_input" placeholder="Search..." class="searchInput" id="search_input"/>
                        <button type="submit" name="button_search" id="search_button"  class="searchBtn">Search</button>
                    </form>
                </div>
                <div class="filterDiv">
                    <form method="post" action="{% url 'filter_data' %}">
                        {% csrf_token %}
                        <input type="text" name="filter_input" placeholder="Filter..." class="searchInput" value="{{filter_input}}"/>
                        <button type="submit" name="button_filter" class="searchBtn">Filter</button>
                    </form>
                </div>
                <div class="restartDiv">
                    <form method="post" action="">
                        {% csrf_token %}
                        <button type="submit" name="restart" class="restartBtn">Reload</button>
                    </form>
                </div>
                {% for p in dataPlugins %}
                <div class="dataBtn">
                    <a href="{% url 'load_selected_data' id=p.identifier %}"  class="loadLink">{{p.name}}</a>
                </div>
                {% endfor %}
            </div>

            <div class="workingArea" id="workingArea">
                <div class="leftDiv">
                    <div class="leftTop">
                    {% block treeOutline %}{% endblock %}
                    </div>
                    <div class="leftBottom">
                        <svg width="100%" height="100%" id = "birdView" ></svg>
                        {% block birdView %}{% endblock %}
                    </div>
                </div>

                <div class="rightDiv">
                    <div class="rightTop" >
                        {% block mainView %}{% endblock %}
                    </div>
                </div>

             </div>
            </div>
    </body>
</html>